In [1]:
%env HF_HOME=/workspace/DATA2/HuggingFace

token = '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'

from huggingface_hub import notebook_login
notebook_login()

env: HF_HOME=/workspace/DATA2/HuggingFace

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.svâ€¦

In [2]:
from IPython.display import display, Markdown, Image
from datasets import load_dataset, list_datasets, get_dataset_config_names

In [3]:
# Highlight the text
def colorize_text(text):
    for word, color in zip(["Role", "Instruction", "Problem", "Solution", "Answer"],
                           ["blue", "yellow", "red", "cyan", "green"]):
        text = text.replace(f"{word}:", f"\n\n**<font color='{color}'>{word}:</font>**")
    return text

def display_markdown_df(df):
    for i in range(len(df)):
        for col in df.columns:
            display(Markdown(df.at[i, col]))

# Math Dataset

In [4]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
from pprint import pprint
import json
from json import loads, dumps

## GSM8K

The GSM8K (Grade School Math 8K) dataset is a benchmark designed to evaluate the performance of language models on elementary-level mathematics problems. It consists of 8,000 high-quality, diverse grade school math word problems that require a variety of mathematical reasoning skills to solve. The dataset is structured to test the understanding and problem-solving abilities of models in a way that mimics the challenges faced by students in grade school.

**Size: 8.79K**
1. **Train**: 7.47K
2. **Test**: 1.32K

**Problem Categories**
The problems in GSM8K cover a range of mathematical topics typically taught at the elementary school level. These include, but are not limited to:

1. **Arithmetic**: Basic operations like addition, subtraction, multiplication, and division.
2. **Fractions and Decimals**: Operations involving fractions and decimals.
3. **Ratios and Proportions**: Problems that involve comparing quantities.
4. **Algebra**: Basic algebraic problems that may involve solving for an unknown.
5. **Geometry**: Problems involving shapes, areas, perimeters, and volumes.
6. **Word Problems**: Real-world scenarios that require translating text into mathematical expressions and solving them.
**Performance of Language Models on GSM8K**
The performance of language models on the GSM8K dataset has been a topic of significant interest because it serves as a proxy for the models' ability to perform complex reasoning tasks. Here are some key points regarding the performance of different models:

1. **Baseline Models**: Traditional rule-based and simpler machine learning models typically perform poorly on GSM8K due to the complexity and diversity of the problems.
Transformer-based Models:
2. **GPT-3**: OpenAI's GPT-3 has shown some ability to solve these problems but often struggles with multi-step reasoning and maintaining consistency in its answers.
3. **Fine-tuned Models**: Models fine-tuned specifically on GSM8K or similar datasets tend to perform better. Fine-tuning helps the model learn the specific patterns and types of reasoning required to solve these problems.
4. **State-of-the-Art Models**: More recent models, such as those based on the transformer architecture but with larger datasets and more sophisticated training techniques (e.g., GPT-4, PaLM, etc.), have shown improved performance. These models can often solve a significant portion of the problems correctly, especially when using techniques like chain-of-thought prompting, which encourages the model to break down problems into smaller, more manageable steps.
4. **Evaluation Metrics**:
    + **Accuracy**: The primary metric is the percentage of problems correctly solved.
    + **Reasoning Steps**: Some evaluations also consider the number of reasoning steps the model takes and whether those steps are logically coherent.
**Challenges and Limitations**
1. **Multi-step Reasoning**: Many problems require multiple steps to solve, and models often struggle with maintaining logical consistency across these steps.
2. **Generalization**: Models may overfit to specific types of problems seen during training and may not generalize well to novel problems.
3. **Interpretability**: Understanding why a model arrived at a particular solution can be challenging, making it difficult to trust the model's reasoning process.
**Conclusion**
The GSM8K dataset serves as a rigorous benchmark for evaluating the mathematical reasoning capabilities of language models. While there has been significant progress, particularly with advanced transformer-based models, there remains room for improvement, especially in terms of multi-step reasoning and generalization. Continued research and development are necessary to enhance the performance of language models on such complex tasks.

In [132]:
import pandas as pd

splits = {'train': 'main/train-00000-of-00001.parquet', 'test': 'main/test-00000-of-00001.parquet'}
df = pd.read_parquet("hf://datasets/openai/gsm8k/" + splits["train"])

In [135]:
print(df.head(5))

                                                                                                                                                                                                                                                               question  \
0                                                                                                           Natalia sold clips to 48 of her friends in April, and then she sold half as many clips in May. How many clips did Natalia sell altogether in April and May?
1                                                                                                                                                     Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?
2  Betty is saving money for a new wallet which costs $100. Betty has only half of the money she needs. Her parents decided to give her $15 for that purpose, and her grandparents twice as much as her parents. How much more money does Betty need to buy the wallet?
3                                           Julie is reading a 120-page book. Yesterday, she was able to read 12 pages and today, she read twice as many pages as yesterday. If she wants to read half of the remaining pages tomorrow, how many pages should she read?
4                                                                                                                                                               James writes a 3-page letter to 2 different friends twice a week.  How many pages does he write a year?

                                                                                                                                                                                                                                                                                                                     answer
0                                                                                                                                                                                          Natalia sold 48/2 = <<48/2=24>>24 clips in May.\nNatalia sold 48+24 = <<48+24=72>>72 clips altogether in April and May.\n#### 72
1                                                                                                                                                                                                    Weng earns 12/60 = $<<12/60=0.2>>0.2 per minute.\nWorking 50 minutes, she earned 0.2 x 50 = $<<0.2*50=10>>10.\n#### 10
2                                                                                                                      In the beginning, Betty has only 100 / 2 = $<<100/2=50>>50.\nBetty's grandparents gave her 15 * 2 = $<<15*2=30>>30.\nThis means, Betty needs 100 - 50 - 30 - 15 = $<<100-50-30-15=5>>5 more.\n#### 5
3  Maila read 12 x 2 = <<12*2=24>>24 pages today.\nSo she was able to read a total of 12 + 24 = <<12+24=36>>36 pages since yesterday.\nThere are 120 - 36 = <<120-36=84>>84 pages left to be read.\nSince she wants to read half of the remaining pages tomorrow, then she should read 84/2 = <<84/2=42>>42 pages.\n#### 42
4                                                                                                                                                     He writes each friend 3*2=<<3*2=6>>6 pages a week\nSo he writes 6*2=<<6*2=12>>12 pages every week\nThat means he writes 12*52=<<12*52=624>>624 pages a year\n#### 624

In [39]:
ds = load_dataset("openai/gsm8k", "main")

In [43]:
print(ds['train'][1])

{'question': 'Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?', 'answer': 'Weng earns 12/60 = $<<12/60=0.2>>0.2 per minute.\nWorking 50 minutes, she earned 0.2 x 50 = $<<0.2*50=10>>10.\n#### 10'}

In [48]:
sample = ds['train'][1]
for k, v in sample.items():
    key = colorize_text(k)
    value = Markdown(v)
    display(Markdown(key), value)

question

Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?

answer

Weng earns 12/60 = $<<12/60=0.2>>0.2 per minute.
Working 50 minutes, she earned 0.2 x 50 = $<<0.2*50=10>>10.
#### 10

In [29]:
display(Markdown(df.iloc[1]['answer']))
# display_markdown_df(df.head(2))

Weng earns 12/60 = $<<12/60=0.2>>0.2 per minute.
Working 50 minutes, she earned 0.2 x 50 = $<<0.2*50=10>>10.
#### 10

## MATH-QSA

**Size: 12.50K**
1. **Train**: 7.5K
2. **Test**: 5K

In [52]:
df = pd.read_csv('/workspace/DATA1/math_dataset_origin/math-qsa/train.csv')

In [65]:
display(df.head(5))

,problem,level,type,solution,answer
0,"The United States Postal Service charges an extra $\$0.11$ in postage if the length of an envelope, in inches, divided by its height, in inches, is less than $1.3$ or greater than $2.5.$ For how many of these four envelopes must the extra $\$0.11$ in postage be paid? \begin{tabular}[t]{ccc}\nEnvelope & Length in inches & Height in inches\\\hline\nA &6 &4\\\nB &9 &3\\\nC &6 &6\\\nD &11 &4\n\end{tabular}",Level 3,Prealgebra,"We calculate the desired ratio for each envelope: \begin{align*}\n\text{A} &= \frac{6}{4} = 1.5 \\\n\text{B} &= \frac{9}{3} = 3 \\\n\text{C} &= \frac{6}{6} = 1 \\\n\text{D} &= \frac{11}{4} = 2.75\n\end{align*} $\text B,$ $\text C,$ and $\text D$ are out of range, so the answer is $\boxed{3}.$",3
1,"How many integers between 1000 and 2000 have all three of the numbers 15, 20 and 25 as factors?",Level 4,Prealgebra,"A number with 15, 20 and 25 as factors must be divisible by their least common multiple (LCM). Because $15 = 3\n\times 5$, $20 = 2^2 \times 5$, and $25 = 5^2$, the LCM of 15, 20 and 25 is $2^2 \times 3 \times 5^2 = 300$. There are $\boxed{3}$ multiples of 300 between 1000 and 2000: 1200, 1500 and 1800.",3
2,"Given that $n$ is an integer and $0 < 4n <30$, what is the sum of all possible integer values of $n$?",Level 2,Prealgebra,"Dividing by $4$, we have $0<n<7\frac{1}{2}$. The integer solutions to this chain of inequalities are $n=1,2,3,4,5,6,7$. The sum of these integers is $\boxed{28}$.",28
3,How many integers between $100$ and $150$ have three different digits in increasing order? One such integer is $129$.,Level 4,Prealgebra,"We will break up the problem into cases based on the second digit and count the number of integers in each case. If the second digit is 0, there are no integers because the first digit (1) is larger than the second. Similarly, if the second digit is 1, there are no integers. If the second digit is 2, there are 7 integers (with third digit from 3 to 9, inclusive). If the second digit is 3, there are 6 integers (with third digit from 4 to 9, inclusive). If the second digit is 4, there are 5 integers (with third digit from 5 to 9, inclusive). Among all the cases, there are $7+6+5=\boxed{18}$ integers.",18
4,"Regular pentagon $ABCDE$ and regular hexagon $AEFGHI$ are drawn on opposite sides of line segment $AE$ such that they are coplanar. What is the degree measure of exterior angle $DEF$? [asy]\ndraw((0,2.5)--(0,7.5)--(4,10)--(8,7.5)--(8,2.5)--(4,0)--cycle,linewidth(1));\ndraw((8,2.5)--(11.5,-1)--(9,-5)--(5,-4.5)--(4,0),linewidth(1));\ndot((0,2.5)); dot((0,7.5)); dot ((4,10)); dot((8,7.5)); dot((8,2.5)); dot((4,0));\n\nlabel(""I"",(0,2.5),W); label(""H"",(0,7.5),W); label(""G"",(4,10),N);\n\nlabel(""F"",(8,7.5),E); label(""E"",(8,2.5),NW); label(""A"",(4,0),SW);\ndot((11.5,-1)); dot((9,-5)); dot((5,-4.5));\nlabel(""D"",(11.5,-1),E); label(""C"",(9,-5),SE); label(""B"",(5,-4.5),SW);\n[/asy]",Level 4,Prealgebra,"We know that the sum of the degree measures of the interior angles of a polygon can be found using the formula $180(n-2)$ where $n$ is the total number of sides of the polygon. Since the polygons in this problem are regular, each interior angle measure can be found by substituting the appropriate $n$ into the formula $\frac{180(n-2)}{n}$. From this, we know that $\angle DEA$, an interior angle of a regular pentagon, has degree measure $\frac{180(5-2)}{5}=108 ^{\circ}$. We also have that $\angle FEA$, an interior angle of a regular hexagon, has degree measure $\frac{180(6-2)}{6}=120 ^{\circ}$.\n\nFinally, we know that the angle measures of $\angle DEA$, $\angle FEA$, and $\angle DEF$ must sum to $360 ^\circ$, so $\angle DEF$ has an angle measure of $360 - 108 - 120 = \boxed{132}$ degrees.",132

In [67]:
df.level.value_counts()

level
Level 5    2304
Level 4    1690
Level 3    1590
Level 2    1348
Level 1     564
Level ?       2
Name: count, dtype: int64

In [68]:
df.type.value_counts()

type
Algebra                   1742
Intermediate Algebra      1295
Prealgebra                1205
Geometry                   870
Number Theory              869
Counting & Probability     771
Precalculus                746
Name: count, dtype: int64

## MATH Dataset

**Size: 12.5K**
1. **Train**: 7.5K
2. **Test**: 5K

In [111]:
import subprocess

# Run the find command to get all directories
result = subprocess.run(['find', '/workspace/DATA1/math_dataset_origin/MATH/train', '-type', 'd', '-print0'], stdout=subprocess.PIPE)

# Decode the output
dirs = result.stdout.decode('utf-8').split('\0')

# Iterate over each directory and count the number of files
for dir in dirs:
    if dir:  # Check if the directory string is not empty
        files = subprocess.run(['find', dir, '-maxdepth', '1', '-type', 'f'], stdout=subprocess.PIPE)
        file_count = len(files.stdout.decode('utf-8').split('\n')) - 1  # Subtract 1 for the last empty split
        print(f"{file_count:5d} files in directory {dir}")

    0 files in directory /workspace/DATA1/math_dataset_origin/MATH/train
 1295 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/intermediate_algebra
 1205 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/prealgebra
  771 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/counting_and_probability
  869 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/number_theory
  746 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/precalculus
  870 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/geometry
 1744 files in directory /workspace/DATA1/math_dataset_origin/MATH/train/algebra

In [116]:
with open('/workspace/DATA1/math_dataset_origin/MATH/train/algebra/1010.json') as f:
    d = json.load(f)
    pprint(d)

with open('/workspace/DATA1/math_dataset_origin/MATH/train/algebra/102.json') as f:
    d = json.load(f)
    pprint(d)

{'level': 'Level 2',
 'problem': 'The sequence of integers in the row of squares and in each of the '
            'two columns of squares form three distinct arithmetic sequences. '
            'What is the value of $N$?\n'
            '\n'
            '[asy]\n'
            'unitsize(0.35inch);\n'
            'draw((0,0)--(7,0)--(7,1)--(0,1)--cycle);\n'
            'draw((1,0)--(1,1));\n'
            'draw((2,0)--(2,1));\n'
            'draw((3,0)--(3,1));\n'
            'draw((4,0)--(4,1));\n'
            'draw((5,0)--(5,1));\n'
            'draw((6,0)--(6,1));\n'
            'draw((6,2)--(7,2)--(7,-4)--(6,-4)--cycle);\n'
            'draw((6,-1)--(7,-1));\n'
            'draw((6,-2)--(7,-2));\n'
            'draw((6,-3)--(7,-3));\n'
            'draw((3,0)--(4,0)--(4,-3)--(3,-3)--cycle);\n'
            'draw((3,-1)--(4,-1));\n'
            'draw((3,-2)--(4,-2));\n'
            'label("21",(0.5,0.8),S);\n'
            'label("14",(3.5,-1.2),S);\n'
            'label("18",(3.5,-2.2),S);\n'
            'label("$N$",(6.5,1.8),S);\n'
            'label("-17",(6.5,-3.2),S);\n'
            '[/asy]',
 'solution': 'Since $18 - 14 = 4$, the common difference in the first column '
             'of squares is 4, so the number above 14 is $14 - 4 = 10$, and '
             'the number above 10 is $10 - 4 = 6$.  This is also the fourth '
             'number in the row, so the common difference in the row is $(6 - '
             '21)/3 = -5$.\n'
             '\n'
             'Then the seventh (and last) number in the row is $21 - 5 \\cdot '
             '6 = -9$.  In the second column, the common difference is $[(-17) '
             '- (-9)]/4 = -2$, so $N = -9 - (-2) = \\boxed{-7}$.',
 'type': 'Algebra'}
{'level': 'Level 2',
 'problem': 'Let \\[f(x) =\n'
            '\\begin{cases}\n'
            'x/2 &\\quad \\text{if } x \\text{ is even}, \\\\\n'
            '3x+1 &\\quad \\text{if } x \\text{ is odd}.\n'
            '\\end{cases}\n'
            '\\]What is $f(f(f(f(1))))$?',
 'solution': 'Evaluating each value, $f(1) = 3 \\cdot 1 + 1 = 4$; $f(f(1)) = '
             'f(4) = 4/2 = 2$; $f(f(f(1))) = f(2) = 2/2 = 1$; and finally '
             '$f(f(f(f(1)))) = f(1) = \\boxed{4}$.',
 'type': 'Algebra'}

## DeepMind Math Dataset

In [99]:
dataset_name = "deepmind/math_dataset"  # Replace with the actual dataset name

# Get all configurations for the chosen dataset
config_names = get_dataset_config_names(dataset_name)
config_names = ['polynomials__evaluate_composed', 'probability__swr_p_sequence']

In [83]:
for c in config_names:
    print(c)

algebra__linear_1d
algebra__linear_1d_composed
algebra__linear_2d
algebra__linear_2d_composed
algebra__polynomial_roots
algebra__polynomial_roots_composed
algebra__sequence_next_term
algebra__sequence_nth_term
arithmetic__add_or_sub
arithmetic__add_or_sub_in_base
arithmetic__add_sub_multiple
arithmetic__div
arithmetic__mixed
arithmetic__mul
arithmetic__mul_div_multiple
arithmetic__nearest_integer_root
arithmetic__simplify_surd
calculus__differentiate
calculus__differentiate_composed
comparison__closest
comparison__closest_composed
comparison__kth_biggest
comparison__kth_biggest_composed
comparison__pair
comparison__pair_composed
comparison__sort
comparison__sort_composed
measurement__conversion
measurement__time
numbers__base_conversion
numbers__div_remainder
numbers__div_remainder_composed
numbers__gcd
numbers__gcd_composed
numbers__is_factor
numbers__is_factor_composed
numbers__is_prime
numbers__is_prime_composed
numbers__lcm
numbers__lcm_composed
numbers__list_prime_factors
numbers__list_prime_factors_composed
numbers__place_value
numbers__place_value_composed
numbers__round_number
numbers__round_number_composed
polynomials__add
polynomials__coefficient_named
polynomials__collect
polynomials__compose
polynomials__evaluate
polynomials__evaluate_composed
polynomials__expand
polynomials__simplify_power
probability__swr_p_level_set
probability__swr_p_sequence

In [77]:
ds = load_dataset('deepmind/math_dataset', 'algebra__linear_1d')

Downloading data:   0%|          | 0.00/2.33G [00:00<?, ?B/s]

Generating train split:   0%|          | 0/1999998 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/10000 [00:00<?, ? examples/s]

In [84]:
print(ds)

DatasetDict({
    train: Dataset({
        features: ['question', 'answer'],
        num_rows: 1999998
    })
    test: Dataset({
        features: ['question', 'answer'],
        num_rows: 10000
    })
})

In [100]:
frames_train = []
frames_test = []
# Load all configurations and get the sizes
for config in config_names:
    dataset = load_dataset('deepmind/math_dataset', config)
    
    num_rows = dataset['train'].num_rows
    new_df = pd.DataFrame(dataset['train'])
    new_df['type'] = config
    frames_train.append(new_df)
    print(f"Configuration: {config}, Split: {'train'}, Size: {num_rows}")

    num_rows = dataset['test'].num_rows
    new_df = pd.DataFrame(dataset['test'])
    new_df['type'] = config
    frames_test.append(new_df)
    print(f"Configuration: {config}, Split: {'test'}, Size: {num_rows}")
    print("-------------------------------------------------------------------------------")

# Create a DataFrame
data_train = pd.concat(frames_train)
data_test = pd.concat(frames_test)
data_train.to_csv('/workspace/DATA1/math_dataset_origin/mathematics_dataset/train.csv', index=False)
data_test.to_csv('/workspace/DATA1/math_dataset_origin/mathematics_dataset/test.csv', index=False)

Generating train split:   0%|          | 0/1999998 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/10000 [00:00<?, ? examples/s]

Configuration: polynomials__evaluate_composed, Split: train, Size: 1999998
Configuration: polynomials__evaluate_composed, Split: test, Size: 10000
-------------------------------------------------------------------------------

/usr/local/lib/python3.8/dist-packages/datasets/load.py:1491: FutureWarning: The repository for deepmind/math_dataset contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/deepmind/math_dataset
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(

Generating train split:   0%|          | 0/1999998 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/10000 [00:00<?, ? examples/s]

Configuration: probability__swr_p_sequence, Split: train, Size: 1999998
Configuration: probability__swr_p_sequence, Split: test, Size: 10000
-------------------------------------------------------------------------------

In [102]:
data_train.head(5)

,question,answer,type
0,b'Let l(g) be the third derivative of g**8/20160 + g**7/2520 + g**5/30 + 23*g**2. Let m(f) be the third derivative of l(f). What is m(-3)?\n',b'3\n',polynomials__evaluate_composed
1,"b'Suppose -3*k - 3*o = -7*o - 49, 5*k + 3*o = 72. Let y(f) = f - 10. Give y(k).\n'",b'5\n',polynomials__evaluate_composed
2,b'Suppose -20*a - 20*a - 160 = 0. Let p(r) = r**3 + 4*r**2 + 1. Determine p(a).\n',b'1\n',polynomials__evaluate_composed
3,b'Let s(n) = 9 + 6 - 9 + 20*n - 26*n. Calculate s(4).\n',b'-18\n',polynomials__evaluate_composed
4,b'Let s(p) = 13*p**3 - p - p**2 - 5 - 6*p + 13*p - 8*p. Let h(j) = -27*j**3 + 2*j**2 + 5*j + 11. Let u(y) = 4*h(y) + 9*s(y). What is u(1)?\n',b'9\n',polynomials__evaluate_composed

## MetaMathQA

**Size: 395K**
1. **Train**: 395K

In [122]:
with open('/workspace/DATA1/math_dataset_origin/MetaMathQA/json/MetaMathQA-395K.json') as f:
    d = json.load(f)
    pprint(d[1000])

{'query': 'Janeth bought 5 bags of round balloons with 20 balloons in each '
          'bag. She also bought 4 bags of long balloons with 30 balloons in '
          'each bag. While blowing up the balloons, 5 round balloons burst. '
          'How many balloons are left?',
 'response': 'Janeth bought 5 bags of round balloons with 20 balloons in each '
             'bag, so she had 5 x 20 = 100 round balloons.\n'
             'She also bought 4 bags of long balloons with 30 balloons in each '
             'bag, so she had 4 x 30 = 120 long balloons.\n'
             'While blowing up the balloons, 5 round balloons burst, so she '
             'had 100 - 5 = 95 round balloons left.\n'
             'In total, Janeth had 95 round balloons + 120 long balloons = 215 '
             'balloons left.\n'
             '#### 215\n'
             'The answer is: 215',
 'type': 'GSM_AnsAug'}

## AIMO External Dataset

This dataset is a compiled version of two benchmark math dataframes for solving math problems using LLMs, namely:

**MATH**: "MATH is a new dataset of 12,500 challenging competition mathematics problems. Each problem in MATH has a full step-by-step solution which can be used to teach models to generate answer derivations and explanations." 

**GSM8K**: "a dataset of 8.5K high quality linguistically diverse grade school math word problems created by human problem writers. The dataset is segmented into 7.5K training problems and 1K test problems. These problems take between 2 and 8 steps to solve, and solutions primarily involve performing a sequence of elementary calculations using basic arithmetic operations (+ âˆ’ Ã—Ã·) to reach the final answer. A bright middle school student should be able to solve every problem. It can be used for multi-step mathematical reasoning."
The dataset consists of 21k math problems with its corresponding solutions.

**Columns**
+ **problem**: text with the mathematical problem statement.
+ **level**: level of difficulty (GSM8K does not provide this column).
+ **type**: math field (GSM8K does not provide this column).
+ **solution**: text with the mathematical problem solution.
+ **stage**: either "train" or "test". This corresponds to the original dataframe split.
+ **source**: either "MATH" or "GSM8K". Source of the problem.

In [124]:
df = pd.read_csv('/workspace/DATA1/math_dataset_origin/aimo_external.csv')

In [126]:
display(df.head(5))

,problem,level,type,solution,stage,source
0,"Kevin Kangaroo begins hopping on a number line at 0. He wants to get to 1, but he can hop only $\frac{1}{3}$ of the distance. Each hop tires him out so that he continues to hop $\frac{1}{3}$ of the remaining distance. How far has he hopped after five hops? Express your answer as a common fraction.",Level 5,Algebra,"Kevin hops $1/3$ of the remaining distance with every hop. His first hop takes $1/3$ closer. For his second hop, he has $2/3$ left to travel, so he hops forward $(2/3)(1/3)$. For his third hop, he has $(2/3)^2$ left to travel, so he hops forward $(2/3)^2(1/3)$. In general, Kevin hops forward $(2/3)^{k-1}(1/3)$ on his $k$th hop. We want to find how far he has hopped after five hops. This is a finite geometric series with first term $1/3$, common ratio $2/3$, and five terms. Thus, Kevin has hopped $\frac{\frac{1}{3}\left(1-\left(\frac{2}{3}\right)^5\right)}{1-\frac{2}{3}} = \boxed{\frac{211}{243}}$.",train,MATH
1,"The ratio of the areas of two squares is $\frac{192}{80}$. After rationalizing the denominator, the ratio of their side lengths can be expressed in the simplified form $\frac{a\sqrt{b}}{c}$ where $a$, $b$, and $c$ are integers. What is the value of the sum $a+b+c$?",Level 4,Algebra,"We start off by simplifying the ratio $\frac{192}{80}$ to $\frac{12}{5}$. The area of a square equals the side length squared, so we can get the ratio of sidelengths by taking the square root of the ratio of areas: $$\sqrt{\frac{12}{5}}=\frac{\sqrt{12}}{\sqrt{5}}=\frac{2\sqrt{3}}{\sqrt{5}}=\frac{2\sqrt{3}}{\sqrt{5}}\cdot\frac{\sqrt{5}}{\sqrt{5}}=\frac{2\sqrt{15}}{5}.$$So, our answer is $2+15+5=\boxed{22}$. If you started off by taking the square root of $\frac{192}{80}$ directly without simplifying it first, you still get the same answer. $$\sqrt{\frac{192}{80}}=\frac{\sqrt{192}}{\sqrt{80}}=\frac{8\sqrt{3}}{4\sqrt{5}}=\frac{2\sqrt{3}}{\sqrt{5}}=\frac{2\sqrt{15}}{5}.$$",train,MATH
2,"If $\sqrt{2\sqrt{t-2}} = \sqrt[4]{7 - t}$, then find $t$.",Level 4,Algebra,"We raise both sides to the fourth power, which is equivalent to squaring twice, in order to get rid of the radicals. The left-hand side becomes $$\left(\sqrt{2\sqrt{t-2}}\right)^4 = \left(2\sqrt{t-2}\right)^2 = 4 \cdot (t-2) = 4t-8.$$The right-hand side becomes $\left(\sqrt[4]{7-t}\right)^4 = 7-t$. Setting them equal, $$4t-8 = 7-t \quad\Longrightarrow\quad 5t = 15,$$and $t = \boxed{3}$. Checking, we find that this value does indeed satisfy the original equation.",train,MATH
3,Let $t(x) = \sqrt{3x+1}$ and $f(x)=5-t(x)$. What is $t(f(5))$?,Level 4,Algebra,We first evaluate $f(5) = 5 -t(5) = 5-\sqrt{5\cdot3+1}=1$. Thus $t(f(5))=t(1)=\sqrt{3\cdot1 + 1}=\boxed{2}$.,train,MATH
4,"James has a total of 66 dollars in his piggy bank. He only has one dollar bills and two dollar bills in his piggy bank. If there are a total of 49 bills in James's piggy bank, how many one dollar bills does he have?",Level 2,Algebra,"Call the number of one dollar bills $x$ and the number of two dollar bills $y$. We can use the following system of equations to represent the given information: \begin{align*}\nx + y &= 49, \\\n1x + 2y &= 66. \\\n\end{align*}The first equation represents the total number of dollar bills in the piggy bank, and the second equation represents how much money is in the piggy bank. Solving for $x$ in the first equation gives $x = 49 - y$. Substituting for $x$ in the second equation yields $49 - y + 2y = 66$, or $y = 17$. But $y$ is the number of two dollar bills, and the question asks for the number of one dollar bills, so solve for $x$: $x = 49 - 17$. Thus, there are $\boxed{32}$ one dollar bills.",train,MATH

In [128]:
df.level.value_counts()/len(df)

level
Level 5    0.170393
Level 4    0.136389
Level 3    0.127888
Level 2    0.105298
Level 1    0.047013
Level ?    0.000094
Name: count, dtype: float64

In [129]:
df.type.value_counts()/len(df)

type
Algebra                   0.137657
Intermediate Algebra      0.103231
Prealgebra                0.097501
Number Theory             0.066175
Geometry                  0.063357
Precalculus               0.060680
Counting & Probability    0.058473
Name: count, dtype: float64

In [130]:
df.stage.value_counts()/len(df)

stage
train    0.703222
test     0.296778
Name: count, dtype: float64

In [131]:
df.source.value_counts()/len(df)

source
MATH     0.587075
GSM8K    0.412925
Name: count, dtype: float64

## MathQA

In [ ]:
import pandas as pd

splits = {'train': 'main/train-00000-of-00001.parquet', 'test': 'main/test-00000-of-00001.parquet'}
df = pd.read_parquet("hf://datasets/openai/gsm8k/" + splits["train"])

### Data Splits

| name  |train|validation|test|
|-------|----:|---------:|---:|
|default|29837|      4475|2985|

In [7]:
with open('/workspace/DATA1/math_dataset_origin/MathQA/train.json') as f:
    d = json.load(f)
    pprint(d[1000])

{'Problem': 'find the number , difference between number and its 3 / 5 is 64 .',
 'Rationale': 'explanation : let the number = x , then , x - ( 3 / 5 ) x = 64 '
              ', = > ( 2 / 5 ) x = 64 = > 2 x = 64 * 5 , = > x = 160 answer : '
              'option a',
 'annotated_formula': 'multiply(divide(64, const_2), 5)',
 'category': 'general',
 'correct': 'a',
 'linear_formula': 'divide(n2,const_2)|multiply(n1,#0)',
 'options': 'a ) 160 , b ) 163 , c ) 164 , d ) 165 , e ) 166'}

## MAWPS

The MAWPS (Math Word Problem Solving) dataset is a collection of math word problems designed to facilitate research in the area of automatic math problem solving. The dataset includes a variety of problem types, such as arithmetic, algebra, and geometry, and is annotated with corresponding solutions. The primary aim of the MAWPS dataset is to provide a standardized benchmark for evaluating the performance of mathematical reasoning models.

1. Original Format, from [Git MAWP](https://github.com/sroy9/mawps?tab=readme-ov-file)
   ```json
     {
        "iIndex": 1,
        "sQuestion": "Joan found 70.0 seashells on the beach . She gave Sam some of her seashells . She has 27.0 seashells . How many seashells did she give to Sam ?",
        "lEquations": [
          "X=(70.0-27.0)"
        ],
        "lSolutions": [
          43.0
        ]
     },
   ```

Preprocessed and Augemented [nguyen-brat/mawps](https://huggingface.co/datasets/nguyen-brat/mawps)

In [8]:
df = pd.read_parquet("hf://datasets/nguyen-brat/mawps/data/train-00000-of-00001.parquet")

In [23]:
print("Size: ", len(df))

Size:  1921

In [14]:
df.describe()

,id,ref_id,question,type,choices,context,cot,answer,generated_cot,feedback
count,1921,1921,1921,1921,1921,1921,1921,1921,1921,1921
unique,1921,1,1744,1,1921,1,1614,407,1921,1921
top,mawps_train_0,,"Ashley sold 12.0 boxes of Samoas. How many cases of 12.0 boxes, plus extra boxes does Ashley need?",number,[],,[We subtract 4.0 from 8.0 and get 4.0.],[9.0],[],[]
freq,1,1921,4,1921,1,1921,8,78,1,1

In [18]:
display(df[["question", "type", "choices", "context", "cot", "answer", "generated_cot", "feedback"]].head(1))

,question,type,choices,context,cot,answer,generated_cot,feedback
0,Mary is baking a cake. The recipe wants 8.0 cups of flour. She already put in 2.0 cups. How many cups does she need to add?,number,[],,[We subtract 2.0 from 8.0 and get 6.0.],[6.0],[],[]

In [19]:
df.type.value_counts()/len(df)

type
number    1.0
Name: count, dtype: float64

In [22]:
df.choices.value_counts()/len(df)

choices
[]    0.000521
[]    0.000521
[]    0.000521
[]    0.000521
[]    0.000521
        ...
[]    0.000521
[]    0.000521
[]    0.000521
[]    0.000521
[]    0.000521
Name: count, Length: 1921, dtype: float64

## ARQMath

## Orca-Math-Word-Problems-200k

This dataset contains ~200K grade school math word problems. All the answers in this dataset is generated using Azure GPT4-Turbo.

In [6]:
df = pd.read_parquet("hf://datasets/microsoft/orca-math-word-problems-200k/data/train-00000-of-00001.parquet")

In [7]:
print("Size: ", len(df))

Size:  200035

In [8]:
df.describe()

,question,answer
count,200035,200035
unique,198274,198013
top,"Jane makes toy bears. When she works with an assistant, she makes 80 percent more bears per week and works 10 percent fewer hours each week. By what percent does having an assistant increase Jane's output of toy bears per hour?","To find the height of the shortest player, we need to subtract the difference in height from the tallest player's height.\n\nTallest player's height = 77.75 inches\nDifference in height = 9.5 inches\n\nShortest player's height = Tallest player's height - Difference in height\nShortest player's height = 77.75 inches - 9.5 inches\nShortest player's height = 68.25 inches\n\nThe shortest player is 68.25 inches tall."
freq,6,6

In [9]:
display(df.head())

,question,answer
0,Jungkook is the 5th place. Find the number of people who crossed the finish line faster than Jungkook.,"If Jungkook is in 5th place, then 4 people crossed the finish line faster than him."
1,A number divided by 10 is 6. Yoongi got the result by subtracting 15 from a certain number. What is the result he got?,"Let's call the certain number ""x"". According to the information given:\n\nA number divided by 10 is 6:\nx / 10 = 6\n\nYoongi got the result by subtracting 15 from x:\nResult = x - 15\n\nFirst, we need to find the value of x. We can do this by solving the first equation:\n\nx / 10 = 6\nx = 6 * 10\nx = 60\n\nNow that we know x is 60, we can find the result Yoongi got by subtracting 15 from x:\n\nResult = x - 15\nResult = 60 - 15\nResult = 45\n\nSo, the result Yoongi got is 45."
2,"Dongju selects a piece of paper with a number written on it, and wants to make a three-digit number by placing the first selected number in the hundreds place, the second selected in the tens place, and the third selected in the units place. If the numbers written on each paper was 1, 6, and 8, respectively, find the sum of the second smallest and third smallest three-digit numbers that Dongju can make. However, you cannot select the same numbered paper multiple times.","To find the second smallest and third smallest three-digit numbers that Dongju can make with the digits 1, 6, and 8, we need to consider all the possible combinations of these three digits without repetition.\n\nThe possible three-digit numbers are:\n- 168\n- 186\n- 618\n- 681\n- 816\n- 861\n\nNow, let's arrange these numbers in ascending order to find the second smallest and third smallest numbers:\n- 168 (smallest)\n- 186 (second smallest)\n- 618 (third smallest)\n- 681\n- 816\n- 861 (largest)\n\nThe second smallest number is 186, and the third smallest number is 618.\n\nNow, we find the sum of the second smallest and third smallest numbers:\n186 + 618 = 804\n\nTherefore, the sum of the second smallest and third smallest three-digit numbers that Dongju can make with the digits 1, 6, and 8 is 804."
3,"You wanted to subtract 46 from a number, but you accidentally subtract 59 and get 43. How much do you get from the correct calculation?","If you accidentally subtracted 59 instead of 46 and got 43, you can find the original number by adding 59 back to 43:\n\n43 + 59 = 102\n\nNow, to find the result of the correct calculation, subtract 46 from the original number:\n\n102 - 46 = 56\n\nSo, if you subtract 46 from the original number, you would get 56."
4,"The length of one span of Jinseo is about 12 centimeters (cm). When Jinseo measured the length of the shorter side of the bookshelf, it was about two spans. How many centimeters (cm) is the short side of the bookshelf?","If one span of Jinseo is about 12 centimeters and the shorter side of the bookshelf is about two spans, then the length of the shorter side of the bookshelf would be:\n\n2 spans * 12 cm/span = 24 cm\n\nSo, the short side of the bookshelf is about 24 centimeters."

# Math Code Dataset

## MathCodeInstruct

In [5]:
df = pd.read_json("hf://datasets/MathLLMs/MathCodeInstruct/train_80k.jsonl", lines=True)

In [6]:
print("Size: ", len(df))

Size:  79067

In [ ]:
df.describe()

In [ ]:
display(df.head(5))

In [8]:
df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     messages
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [{'role': 'system', 'content': [{'type': 'text', 'content': 'Below is a math problem. Please solve it step by step.'}]}, {'role': 'user', 'content': [{'type': 'text', 'content': 'A farmer has 4 fields. In the first field, he plants 5 apple trees. In each subsequent field, he plants 2 more apple trees than the previous field. If each apple tree produces 12 apples, how many apples does the farmer get from all the trees in his fields combined?'}]}, {'role': 'assistant', 'content': [{'content': "To solve this problem, we can break it down into the following steps:\n\n1. Calculate the number of apple trees in each field.\n2. Calculate the total number of apple trees across all fields.\n3. Calculate the total number of apples produced by all the apple trees.\n\n### Step 1: Calculate the number of apple trees in each field\n\n- The first field has 5 apple trees.\n- The second field has \\(5 + 2 = 7\\) apple trees.\n- The third field has \\(7 + 2 = 9\\) apple trees.\n- The fourth field has \\(9 + 2 = 11\\) apple trees.\n\nLet's calculate these numbers.", 'type': 'text'}, {'content': '# Initialize the number of apple trees in the first field\nfirst_field_trees = 5\n\n# Initialize the total number of fields\ntotal_fields = 4\n\n# Initialize a list to store the number of apple trees in each field\ntrees_in_each_field = []\n\n# Calculate the number of apple trees in each field\nfor field in range(total_fields):\n    if field == 0:\n        trees_in_this_field = first_field_trees\n    else:\n        trees_in_this_field = trees_in_each_field[field - 1] + 2\n    trees_in_each_field.append(trees_in_this_field)\n\ntrees_in_each_field', 'type': 'code'}, {'content': '[5, 7, 9, 11]', 'type': 'execution'}, {'content': "The number of apple trees in each field are as follows:\n- First field: 5 apple trees\n- Second field: 7 apple trees\n- Third field: 9 apple trees\n- Fourth field: 11 apple trees\n\n### Step 2: Calculate the total number of apple trees across all fields\n\nTo find the total number of apple trees, we can sum up the number of trees in each field:\n\n\\[\n\\text{Total number of apple trees} = 5 + 7 + 9 + 11\n\\]\n\nLet's calculate this.", 'type': 'text'}, {'content': '# Calculate the total number of apple trees across all fields\ntotal_trees = sum(trees_in_each_field)\ntotal_trees', 'type': 'code'}, {'content': '32', 'type': 'execution'}, {'content': "The total number of apple trees across all fields is 32.\n\n### Step 3: Calculate the total number of apples produced by all the apple trees\n\nEach apple tree produces 12 apples. Therefore, the total number of apples produced by all the apple trees can be calculated as:\n\n\\[\n\\text{Total number of apples} = 32 \\times 12\n\\]\n\nLet's calculate this.", 'type': 'text'}, {'content': '# Initialize the number of apples produced by each apple tree\napples_per_tree = 12\n\n# Calculate the total number of apples produced by all the apple trees\ntotal_apples = total_trees * apples_per_tree\ntotal_apples', 'type': 'code'}, {'content': '384', 'type': 'execution'}, {'content': "The total number of apples produced by all the apple trees in the farmer's fields combined is \\( \\boxed{384} \\).", 'type': 'text'}, {'content': '384', 'type': 'text'}]}]
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [{'role': 'system', 'content': [{'type': 'text', 'content': 'Below is a math problem. Please solve it step by step.'}]}, {'role': 'user', 'content': [{'type': 'text', 'content': 'A cylindrical tank is filled with water to 70% of its capacity. If 120 liters of water are added, the tank becomes 85% full. What is the total capacity of the tank in liters?'}]}, {'role': 'assistant', 'content': [{'content': "Alright, let's solve the problem step by step.\n\nLet's denote the total capacity of the tank as \\( V \\) (in liters).\n\n1. When the tank is filled to 70% of its capacity, it contains \\( 0.70V \\) liters of water.\n2. After adding 120 liters of water, the tank becomes 85% full, which means it contains \\( 0.85V \\) liters of water.\n3. The amount of water added to the tank is 120 liters.\n\nGiven the above, we can set up the following equation:\n\n\\[ 0.70V + 120 = 0.85V \\]\n\nLet's solve for \\( V \\).", 'type': 'text'}, {'content': "from sympy import symbols, Eq, solve\n\n# Define the variable for total capacity\nV = symbols('V')\n\n# Set up the equation\nequation = Eq(0.70*V + 120, 0.85*V)\n\n# Solve for V\ntotal_capacity = solve(equation, V)[0]\ntotal_capacity", 'type': 'code'}, {'content': '800.000000000000', 'type': 'execution'}, {'content': 'The total capacity of the tank is \\( \\boxed{800} \\) liters.', 'type': 'text'}, {'content': '800', 'type': 'text'}]}]
2  [{'role': 'system', 'content': [{'type': 'text', 'content': 'Below is a math problem. Please solve it step by step.'}]}, {'role': 'user', 'content': [{'type': 'text', 'content': 'A baker produces three types of pastries: pies, tarts, and muffins. Each pie requires 4 apples, each tart requires 3 apples, and each muffin requires 2 apples. Originally, the baker was preparing for a large event and stocked up enough apples to make 40 pies, 50 tarts, and 60 muffins. However, due to a sudden change in demand, the baker decides to only make 20 pies, 30 tarts, and 100 muffins for an upcoming smaller event. How many fewer apples does the baker now need for the adjusted production?'}]}, {'role': 'assistant', 'content': [{'content': "To solve this problem, we need to find out how many apples the baker originally stocked up for the large event and how many apples are needed for the adjusted production for the smaller event. Then, we'll find the difference between these two quantities to determine how many fewer apples the baker now needs.\n\n### Step 1: Calculate the total number of apples originally stocked up for the large event\n\nThe baker originally stocked up enough apples to make 40 pies, 50 tarts, and 60 muffins.\n\n- For pies: \\( 40 \\text{ pies} \\times 4 \\text{ apples/pie} \\)\n- For tarts: \\( 50 \\text{ tarts} \\times 3 \\text{ apples/tart} \\)\n- For muffins: \\( 60 \\text{ muffins} \\times 2 \\text{ apples/muffin} \\)\n\nThe total number of apples originally stocked up is:\n\n\\[\n\\text{Total apples originally stocked} = (40 \\times 4) + (50 \\times 3) + (60 \\times 2)\n\\]", 'type': 'text'}, {'content': '# Given data\npies_original = 40\ntarts_original = 50\nmuffins_original = 60\n\napples_per_pie = 4\napples_per_tart = 3\napples_per_muffin = 2\n\n# Calculate the total number of apples originally stocked up for the large event\ntotal_apples_original = (pies_original * apples_per_pie) + (tarts_original * apples_per_tart) + (muffins_original * apples_per_muffin)\ntotal_apples_original', 'type': 'code'}, {'content': '430', 'type': 'execution'}, {'content': 'The total number of apples originally stocked up for the large event is \\(430\\).\n\n### Step 2: Calculate the total number of apples needed for the adjusted production for the smaller event\n\nThe baker decides to only make 20 pies, 30 tarts, and 100 muffins for the smaller event.\n\n- For pies: \\( 20 \\text{ pies} \\times 4 \\text{ apples/pie} \\)\n- For tarts: \\( 30 \\text{ tarts} \\times 3 \\text{ apples/tart} \\)\n- For muffins: \\( 100 \\text{ muffins} \\times 2 \\text{ apples/muffin} \\)\n\nThe total number of apples needed for the adjusted production is:\n\n\\[\n\\text{Total apples needed for adjusted production} = (20 \\times 4) + (30 \\times 3) + (100 \\times 2)\n\\]', 'type': 'text'}, {'content': '# Given data for the adjusted production\npies_adjusted = 20\ntarts_adjusted = 30\nmuffins_adjusted = 100\n\n# Calculate the total number of apples needed for the adjusted production for the smaller event\ntotal_apples_adjusted = (pies_adjusted * apples_per_pie) + (tarts_adjusted * apples_per_tart) + (muffins_adjusted * apples_per_muffin)\ntotal_apples_adjusted', 'type': 'code'}, {'content': '370', 'type': 'execution'}, {'content': "The total number of apples needed for the adjusted production for the smaller event is \\(370\\).\n\n### Step 3: Calculate the difference in the number of apples to find how many fewer apples are needed for the adjusted production\n\nTo find out how many fewer apples the baker now needs for the adjusted production, we'll take the difference between the total number of apples originally stocked and the total number of apples needed for the adjusted production:\n\n\\[\n\\text{Difference in apples} = \\text{Total apples originally stocked} - \\text{Total apples needed for adjusted production}\n\\]\n\n\\[\n\\text{Difference in apples} = 430 - 370\n\\]", 'type': 'text'}, {'content': '# Calculate the difference in the number of apples to find how many fewer apples are needed for the adjusted production\ndifference_in_apples = total_apples_original - total_apples_adjusted\ndifference_in_apples', 'type': 'code'}, {'content': '60', 'type': 'execution'}, {'content': 'The baker now needs \\(\\boxed{60}\\) fewer apples for the adjusted production.', 'type': 'text'}, {'content': '60', 'type': 'text'}]}]

In [21]:
result = df[:1].to_json(orient="split")
parsed = loads(result) 
pprint(parsed)

{'columns': ['messages'],
 'data': [[[{'content': [{'content': 'Below is a math problem. Please solve it '
                                     'step by step.',
                          'type': 'text'}],
             'role': 'system'},
            {'content': [{'content': 'A farmer has 4 fields. In the first '
                                     'field, he plants 5 apple trees. In each '
                                     'subsequent field, he plants 2 more apple '
                                     'trees than the previous field. If each '
                                     'apple tree produces 12 apples, how many '
                                     'apples does the farmer get from all the '
                                     'trees in his fields combined?',
                          'type': 'text'}],
             'role': 'user'},
            {'content': [{'content': 'To solve this problem, we can break it '
                                     'down into the following steps:\n'
                                     '\n'
                                     '1. Calculate the number of apple trees '
                                     'in each field.\n'
                                     '2. Calculate the total number of apple '
                                     'trees across all fields.\n'
                                     '3. Calculate the total number of apples '
                                     'produced by all the apple trees.\n'
                                     '\n'
                                     '### Step 1: Calculate the number of '
                                     'apple trees in each field\n'
                                     '\n'
                                     '- The first field has 5 apple trees.\n'
                                     '- The second field has \\(5 + 2 = 7\\) '
                                     'apple trees.\n'
                                     '- The third field has \\(7 + 2 = 9\\) '
                                     'apple trees.\n'
                                     '- The fourth field has \\(9 + 2 = 11\\) '
                                     'apple trees.\n'
                                     '\n'
                                     "Let's calculate these numbers.",
                          'type': 'text'},
                         {'content': '# Initialize the number of apple trees '
                                     'in the first field\n'
                                     'first_field_trees = 5\n'
                                     '\n'
                                     '# Initialize the total number of fields\n'
                                     'total_fields = 4\n'
                                     '\n'
                                     '# Initialize a list to store the number '
                                     'of apple trees in each field\n'
                                     'trees_in_each_field = []\n'
                                     '\n'
                                     '# Calculate the number of apple trees in '
                                     'each field\n'
                                     'for field in range(total_fields):\n'
                                     '    if field == 0:\n'
                                     '        trees_in_this_field = '
                                     'first_field_trees\n'
                                     '    else:\n'
                                     '        trees_in_this_field = '
                                     'trees_in_each_field[field - 1] + 2\n'
                                     '    '
                                     'trees_in_each_field.append(trees_in_this_field)\n'
                                     '\n'
                                     'trees_in_each_field',
                          'type': 'code'},
                         {'content': '[5, 7, 9, 11]', 'type': 'execution'},
                         {'content': 'The number of apple trees in each field '
                                     'are as follows:\n'
                                     '- First field: 5 apple trees\n'
                                     '- Second field: 7 apple trees\n'
                                     '- Third field: 9 apple trees\n'
                                     '- Fourth field: 11 apple trees\n'
                                     '\n'
                                     '### Step 2: Calculate the total number '
                                     'of apple trees across all fields\n'
                                     '\n'
                                     'To find the total number of apple trees, '
                                     'we can sum up the number of trees in '
                                     'each field:\n'
                                     '\n'
                                     '\\[\n'
                                     '\\text{Total number of apple trees} = 5 '
                                     '+ 7 + 9 + 11\n'
                                     '\\]\n'
                                     '\n'
                                     "Let's calculate this.",
                          'type': 'text'},
                         {'content': '# Calculate the total number of apple '
                                     'trees across all fields\n'
                                     'total_trees = sum(trees_in_each_field)\n'
                                     'total_trees',
                          'type': 'code'},
                         {'content': '32', 'type': 'execution'},
                         {'content': 'The total number of apple trees across '
                                     'all fields is 32.\n'
                                     '\n'
                                     '### Step 3: Calculate the total number '
                                     'of apples produced by all the apple '
                                     'trees\n'
                                     '\n'
                                     'Each apple tree produces 12 apples. '
                                     'Therefore, the total number of apples '
                                     'produced by all the apple trees can be '
                                     'calculated as:\n'
                                     '\n'
                                     '\\[\n'
                                     '\\text{Total number of apples} = 32 '
                                     '\\times 12\n'
                                     '\\]\n'
                                     '\n'
                                     "Let's calculate this.",
                          'type': 'text'},
                         {'content': '# Initialize the number of apples '
                                     'produced by each apple tree\n'
                                     'apples_per_tree = 12\n'
                                     '\n'
                                     '# Calculate the total number of apples '
                                     'produced by all the apple trees\n'
                                     'total_apples = total_trees * '
                                     'apples_per_tree\n'
                                     'total_apples',
                          'type': 'code'},
                         {'content': '384', 'type': 'execution'},
                         {'content': 'The total number of apples produced by '
                                     "all the apple trees in the farmer's "
                                     'fields combined is \\( \\boxed{384} \\).',
                          'type': 'text'},
                         {'content': '384', 'type': 'text'}],
             'role': 'assistant'}]]],
 'index': [0]}

## MMOS

In [22]:
df = pd.read_json("hf://datasets/cyzhh/MMOS/train.jsonl", lines=True)

In [23]:
print("Size: ", len(df))

Size:  134610

In [24]:
df.describe()

                 idx
count  134610.000000
mean    67304.500000
std     38858.704205
min         0.000000
25%     33652.250000
50%     67304.500000
75%    100956.750000
max    134609.000000

In [28]:
display(df[:1][["prompt", "completion"]])

,prompt,completion
0,"<|user|>\nSuppose that $x,$ $y,$ and $z$ are three positive numbers that satisfy the equations $xyz = 1,$ $x + \frac {1}{z} = 5,$ and $y + \frac {1}{x} = 29.$ Find $z + \frac {1}{y}.$\n<|assistant|>\n","```python\nfrom sympy import symbols, solve, Rational\n\ndef find_expression():\n """"""Suppose that $x,$ $y,$ and $z$ are three positive numbers that satisfy the equations $xyz = 1,$ $x + \frac {1}{z} = 5,$ and $y + \frac {1}{x} = 29.$ Find $z + \frac {1}{y}.$""""""\n x, y, z = symbols('x y z')\n\n # Solve the system of equations\n solutions = solve([x*y*z - 1, x + 1/z - 5, y + 1/x - 29], (x, y, z))\n\n # Extract the values of x, y and z\n x_val, y_val, z_val = solutions[0]\n\n # Calculate the value of z + 1/y\n expression_val = z_val + 1/y_val\n\n return expression_val\n\nresult = find_expression()\nprint(result)\n```\n```output\n1/4\n```\nThe value of $z + \frac {1}{y}$ is $\boxed{\frac{1}{4}}$."

In [34]:
display(Markdown(str(df[:1][["completion"]])))

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 completion
0  ```python\nfrom sympy import symbols, solve, Rational\n\ndef find_expression():\n    """Suppose that $x,$ $y,$ and $z$ are three positive numbers that satisfy the equations $xyz = 1,$ $x + \frac {1}{z} = 5,$ and $y + \frac {1}{x} = 29.$ Find $z + \frac {1}{y}.$"""\n    x, y, z = symbols('x y z')\n\n    # Solve the system of equations\n    solutions = solve([x*y*z - 1, x + 1/z - 5, y + 1/x - 29], (x, y, z))\n\n    # Extract the values of x, y and z\n    x_val, y_val, z_val = solutions[0]\n\n    # Calculate the value of z + 1/y\n    expression_val = z_val + 1/y_val\n\n    return expression_val\n\nresult = find_expression()\nprint(result)\n```\n```output\n1/4\n```\nThe value of $z + \frac {1}{y}$ is $\boxed{\frac{1}{4}}$.

In [26]:
list(df.columns)

['idx', 'prompt', 'completion']

## OpenMathInstruct

OpenMathInstruct-1 is a math instruction tuning dataset with 1.8M problem-solution pairs generated using permissively licensed Mixtral-8x7B model.

The problems are from **GSM8K** and **MATH** training subsets and the solutions are synthetically generated by allowing **Mixtral** model to use a mix of **text reasoning** and **code blocks executed by Python** interpreter.

The dataset is split into train and validation subsets that we used in the ablations experiments. These two subsets combined together cover the full training set of GSM8K and MATH.

In [5]:
ds = load_dataset("nvidia/OpenMathInstruct-1")

Downloading readme:   0%|          | 0.00/6.91k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/1.33G [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/6.42G [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/203M [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/981M [00:00<?, ?B/s]

Generating train split: 0 examples [00:00, ? examples/s]

Generating validation split: 0 examples [00:00, ? examples/s]

In [8]:
df = pd.DataFrame(ds['train'])

In [9]:
display(df.head())

,question,expected_answer,predicted_answer,error_message,is_correct,generation_type,dataset,generated_solution
0,"Martha has 18 crayons. She lost half of them, so she bought a new set of 20 crayons. How many crayons in total does Martha have after the purchase?",29,29,,True,masked_reference_solution,gsm8k,Let's solve this problem using Python code.\n<llm-code>\namount_of_lost_crayons = 18 / 2\namount_of_new_crayons = 20\ntotal_amount = amount_of_lost_crayons + amount_of_new_crayons\ntotal_amount\n</llm-code>\n<llm-code-output>\n29.0\n</llm-code-output>\nThus Martha has \boxed{29} crayons in total.
1,"Noa scored 30 points to win a bowl, and Phillip scores twice that number. What is the total number of points Tom and Phillip scored to win the bowl?",90,90,,True,without_reference_solution,gsm8k,Let's solve this problem using Python code.\n<llm-code>\nscore_first_player = 30\nscore_second_player = 2 * score_first_player\nscore_first_player + score_second_player\n</llm-code>\n<llm-code-output>\n90\n</llm-code-output>\nThus Tom and Phillip scored \boxed{90} points.
2,"In a rectangular coordinate system, what is the number of units in the distance from the origin to the point $(-15, 8)$?",17,17,,True,masked_reference_solution,math,"To find the distance between the origin $(0, 0)$ and the point $(-15, 8)$ in a rectangular coordinate system, we can use the distance formula:\n$$d = \sqrt{(x_2 - x_1)^2 + (y_2 - y_1)^2}$$\nwhere $(x_1, y_1)$ is the coordinate of the first point and $(x_2, y_2)$ is the coordinate of the second point.\nSubstituting the values for the origin and the given point, we get:\n<llm-code>\nfrom sympy import sqrt\n\nx1, y1, x2, y2 = 0, 0, -15, 8\n\ndistance = sqrt((x2 - x1)**2 + (y2 - y1)**2)\ndistance\n</llm-code>\n<llm-code-output>\n17\n</llm-code-output>\nSo the distance between the origin and the point $(-15, 8)$ is $\boxed{17}$ units."
3,The four-digit numeral $3AA1$ is divisible by 9. What digit does $A$ represent?,7,7,,True,without_reference_solution,math,"To solve this, we will find the possible values for $A$ that make $3AA1$ divisible by 9 using Python.\n<llm-code>\ndef is_divisible_by_9(numeral):\n return numeral % 9 == 0\n\nfor a in range(10):\n numeral = str(3 * 100 + a * 10 + a * 10 + 1)\n if is_divisible_by_9(int(numeral)):\n print(f""When A is {a}, the numeral 3AA1 is divisible by 9."")\n</llm-code>\n<llm-code-output>\nWhen A is 7, the numeral 3AA1 is divisible by 9.\n</llm-code-output>\nSo $A$ represents $\boxed{7}$"
4,"Of the 90 people on William's bus, 3/5 were Dutch. Of the 1/2 of the Dutch who were also American, 1/3 got window seats. What's the number of Dutch Americans who sat at the windows?",9,9,,True,masked_reference_solution,gsm8k,Let's solve this problem using Python code.\n<llm-code>\nnumber_of_passengers = 90\nnumber_of_dutch_passengers = 3 / 5 * number_of_passengers\nnumber_of_dutch_american_passengers = 1 / 2 * number_of_dutch_passengers\nwindow_sitting_passengers = 1 / 3 * number_of_dutch_american_passengers\nwindow_sitting_passengers\n</llm-code>\n<llm-code-output>\n9.0\n</llm-code-output>\nThus the number of Dutch Americans that sat at the windows is \boxed{9}.

# Code

| Dataset                                                                                                      | #     | Authors       | Date     | Notes                                                                                                                                                                                                                                                                                                                                                 |
| ------------------------------------------------------------------------------------------------------------ | ----- | ------------- | -------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| [CodeFeedback-Filtered-Instruction](https://huggingface.co/datasets/m-a-p/CodeFeedback-Filtered-Instruction) | 157k  | Zheng et al.  | Feb 2024 | Filtered version of Magicoder-OSS-Instruct, ShareGPT (Python), Magicoder-Evol-Instruct, and Evol-Instruct-Code.                                                                                                                                                                                                                                       |
| [Tested-143k-Python-Alpaca](https://huggingface.co/datasets/Vezora/Tested-143k-Python-Alpaca)                | 143k  | Vezora        | Mar 2024 | Collection of generated Python code that passed automatic tests to ensure high quality.                                                                                                                                                                                                                                                               |
| [glaive-code-assistant](https://huggingface.co/datasets/glaiveai/glaive-code-assistant)                      | 136k  | Glaive.ai     | Sep 2023 | Synthetic data of problems and solutions with ~60% Python samples. Also see the [v2](https://huggingface.co/datasets/glaiveai/glaive-code-assistant-v2) version.                                                                                                                                                                                      |
| [Magicoder-Evol-Instruct-110K](https://huggingface.co/datasets/ise-uiuc/Magicoder-Evol-Instruct-110K)        | 110k  | Wei et al.    | Nov 2023 | A decontaminated version of [evol-codealpaca-v1](https://huggingface.co/datasets/theblackcat102/evol-codealpaca-v1). Decontamination is done in the same way as StarCoder ([bigcode decontamination process](https://github.com/bigcode-project/bigcode-dataset/tree/main/decontamination)). See [Magicoder paper](https://arxiv.org/abs/2312.02120). |
| [dolphin-coder](https://huggingface.co/datasets/cognitivecomputations/dolphin-coder)                         | 109k  | Eric Hartford | Nov 2023 | Dataset transformed from [leetcode-rosetta](https://www.kaggle.com/datasets/erichartford/leetcode-rosetta).                                                                                                                                                                                                                                           |
| [synthetic_tex_to_sql](https://huggingface.co/datasets/gretelai/synthetic_text_to_sql)                       | 100k  | Gretel.ai     | Apr 2024 | Synthetic text-to-SQL samples (~23M tokens), covering diverse domains.                                                                                                                                                                                                                                                                                |
| [sql-create-context](https://huggingface.co/datasets/b-mc2/sql-create-context)                               | 78.6k | b-mc2         | Apr 2023 | Cleansed and augmented version of the [WikiSQL](https://huggingface.co/datasets/wikisql) and [Spider](https://huggingface.co/datasets/spider) datasets.                                                                                                                                                                                               |
| [Magicoder-OSS-Instruct-75K](https://huggingface.co/datasets/ise-uiuc/Magicoder-OSS-Instruct-75K)            | 75k   | Wei et al.    | Nov 2023 | OSS-InstructÂ dataset generated byÂ `gpt-3.5-turbo-1106`. See [Magicoder paper](https://arxiv.org/abs/2312.02120).                                                                                                                                                                                                                                      |
| [Code-Feedback](https://huggingface.co/datasets/m-a-p/Code-Feedback)                                         | 66.4k | Zheng et al.  | Feb 2024 | Diverse Code Interpreter-like dataset with multi-turn dialogues and interleaved text and code responses. See [OpenCodeInterpreter paper](https://arxiv.org/abs/2402.14658).                                                                                                                                                                           |
| [self-oss-instruct-sc2-exec-filter-50k](https://huggingface.co/datasets/bigcode/self-oss-instruct-sc2-exec-filter-50k) | 50.7k | Lozhkov et al.  | Apr 2024 | Created in three steps with seed functions from TheStack v1, self-instruction with StarCoder2, and self-validation. See the [blog post](https://huggingface.co/blog/sc2-instruct). |