In [21]:
import os
import os.path as osp
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [22]:
math_datasets_path = osp.join(os.getcwd(), '../data/math_datasets')
code_datasets_path = osp.join(os.getcwd(), '../data/code_datasets')

# Datasets for math

In [23]:
print('Math datasets:', os.listdir(math_datasets_path))

Math datasets: ['external_dataset', 'MathCodeInstruct', 'MMOS', 'AIMO', 'GSM8K', 'OpenMathInstruct-1', 'Math-QSA', 'MetaMathQA']

## GSM8K Dataset

In [24]:
gsm8k_dataset_path = osp.join(math_datasets_path, 'GSM8K')

In [25]:
gsm8k_dataset_df = pd.read_csv(osp.join(gsm8k_dataset_path, 'gsm8k.csv'))

In [26]:
gsm8k_dataset_df.head()

,question,answer
0,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...
1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...
2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<..."
3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....
4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...

In [27]:
gsm8k_dataset_df['question'][0]

'Natalia sold clips to 48 of her friends in April, and then she sold half as many clips in May. How many clips did Natalia sell altogether in April and May?'